﻿@charset "utf-8";
/* CSS Document */
.socal-login ,.social-register{
	list-style: none;
    padding: 0;
	margin-top: 10px;
	text-align:center;
}
.socal-login li,.social-register li {
    display: inline;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.socal-login .left ,.social-register .left{
	float:left;
}
.socal-login .right , .social-register  .right{
	float:right;	
}
.google-pluse-colour{
	padding: 5px 20px;
	color: #ffffff !important;
    background-color: red;
    border-radius: 3px;
}
.fb-colour{
	color: #ffffff !important;
    background-color:#227fbb;
    border-radius: 3px;
    padding: 5px 26px;
}
.twitter-colour{
	color: #ffffff !important;
	background:#659fcb;
	 border-radius: 3px;
	 padding: 5px 20px;	
}
.socal-login li .fa , .social-register li .fa{
	font-size:20px;	
}
.socal-login .google-plus-login, .social-register{   
    font-weight: normal;
}
.support{
	color: #fdc600;
    background-color: #000000;	
}
.category-item a img{
	margin:0 auto;
	display:block;
	padding-bottom: 10px;
}
.modified-list{
	text-transform: uppercase;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;  
}
.classifieds-content .classifieds-category > li  .sub-category .sub-sub-category li{
	margin-left: 20px;
	font-size: 15px;
    text-transform: capitalize;
	font-weight:normal;
}
.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating li {
    padding: 1px;
    color: #a9a9a9;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.rating li.filled {
    color: #fd0;
}
.right{
	float: right !important;
}
#header .header-top-bar .header-language{
    margin-right:0 !important;
    margin-left:10px;
}
.distance-range p label {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
.half_left{
	float:left;
	width:48%;
	display:inline-block;
}
.half_right{
	float:right;
	width:48%;
	display:inline-block;
}
.accordion ul li div span.checkbox input[type='checkbox'] {
 float: left;
 width: 20px;
}
.accordion ul li div span.checkbox {
 position: relative;
 display:block;
 padding-bottom:6px;
}
.accordion ul li input[type=checkbox]{
    margin:4px 0 0 0;
}
.accordion ul li div span.checkbox label{
    padding-left:5px;
}
#header .header-top-bar .header-logo {
text-transform:none;
}
.fa {
color:#663399;
}

