@charset "utf-8";
/* CSS Document */

@media screen and (max-width:320px){
.socal-login .google-plus-login, .social-register .google-plus-register {
    background-color: #e94b35;
    font-weight: normal;
	margin-right:0;
}
.socal-login li a span, .social-register li a span {
    display:none;

}


}